<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonh.mapper.UserMapper">
    <!-- namespace: 命名空间，与id组成sql的唯一标识 -->
    <!-- resultType: 返回值类型-->


    <!--抽取SQL片段-->
    <sql id="select_user">
        select * from user
    </sql>

    <select id="findAll" resultType="User">
        <include refid="select_user"></include>
    </select>

    <select id="findByCondition" parameterType="User" resultType="User">
        <include refid="select_user"></include>
        <!-- where标签会帮我们自动处理where语句 -->
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="username != null"> and username = #{username}</if>
            <if test="password != null"> and password = #{password}</if>
        </where>
    </select>

    <select id="findByIds" parameterType="list" resultType="User">
        <include refid="select_user"></include>
        <where>
            <!-- 拼接 id in (x,x,x) -->
            <foreach collection="array" open="id in(" close=")" item="id" separator="," >#{id}</foreach>
        </where>
    </select>


    <insert id="saveUser" parameterType="User">
        insert into user values(#{id}, #{username}, #{password})
    </insert>

    <update id="updateUser" parameterType="User">
        update user set username = #{username}, password = #{password} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

</mapper>