<mapper namespace="com.yonh.dao.IUserDao">
    <select id="findAll" resultType="com.yonh.pojo.User">
        select * from user
    </select>

    <!--
    resultType: 返回值类型
    parameterType: 参数类型
    自定义替换参数：#{XXX}
     -->
    <select id="findByCondition" resultType="com.yonh.pojo.User" parameterType="com.yonh.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <select id="insert" resultType="Boolean" parameterType="com.yonh.pojo.User">
        insert into user values(null, #{username}, #{password});
    </select>

    <select id="update" resultType="Boolean" parameterType="com.yonh.pojo.User">
        update user set username = #{username}, password = #{password} where id = #{id};
    </select>

</mapper>